<!DOCTYPE html>
<html>
    <head>
        <%- include ../partials/head %>
        <title>404 Chill not found - Arturo's Website</title>
    </head>
    <body>
        <%- include ../partials/header %>
        <%- include ../partials/errorhero/start %>
        <h1 class="title">404 CHILL NOT FOUND</h1>
        <h2 class="subtitle"><a href="/">HOME</a></h2>
        <h3>#HEILHITLER</h3>
        <%- include ../partials/errorhero/end %>
        <%- include ../partials/footer %>
    </body>
</html>


