<!DOCTYPE html>
<html>
    <head>
        <%- include ../partials/head %>
        <title><%= err.status %>  Chill not found - Arturo's Website</title>
    </head
    <body>
        <%- include ../partials/header %>
        <%- include ../partials/errorhero/start %>
        <h1 class="title"><%= err.status %> CHILL NOT FOUND</h1>
        <h2 class="subtitle"><%= err.message %></h2>
        <%- include ../partials/errorhero/end %>
        <%- include ../partials/footer %>
    </body>
</html>


